@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Open+Sans:wght@200;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
    font-size: 10px;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.block {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 1rem;
}